<h1>Clevertale</h1>
<h2>What is a clever tale?</h2>
<p>A clever tale is a random tale which uses CleverBot to generate the responses. (This feature won't probably work until the cleverbot-api gem is fixed, though). A couple of things like names and items are scraped from external websites.</p>
<h2>Generate your own tale now!</h2>
<p>(Note: remember that external services are used and I'm not responsible for their speed. Have fun!)</p>
<%= button_to "Generate a clever tale", action: "create" %>